<div ng-controller="navigationController">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            
            <div class="header-logo res-767-hide">
                <a href="/" class="logo">
                    <img alt="Lynex Smart Home" src="/Images/logo.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': isActive('/controlcenter')}"><a href="#">Smart Home</a></li>
                    <li ng-class="{'active': isActive('/map')}"><a href="#!/map">Map</a></li>
                    <li ng-class="{'active': isActive('/products')}"><a href="#">Products</a></li>
                    <li ng-class="{'active': isActive('/contactus')}"><a href="#">Contact us</a></li>
                    <li ng-class="{'active': isActive('/sale')}"><a class="highlight-header" href="#">Sale</a></li>
                </ul>
                <login-partial></login-partial>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    

</div>
