.site-selector {
    margin-bottom: 10px;
}

.switch-box {
    height: 100px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    background: #808080;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}


    .switch-box.on {
        background: #5FC325
    }

    .switch-box.not-live {
        -ms-opacity:0.8;
        opacity:0.8;
    }

.switch-box .switch-name {
        width: 100%;
        font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
    }


    .switch-box .add-new-switch {
        width: 100%;
        font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
    }

.switch-box-busy-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
}

.switch-box .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: 10px;
    opacity: 0.5
}

.switch-box .drag-handle {
    padding: 5px 10px;
    cursor:move;
    position: absolute;
    top: 0;
    left: 0;
}

    .switch-box .drag-handle.drag-disabled {
        cursor:not-allowed;
    }

.switch-box .switch-btn-container {
    position: absolute;
    right: 0;
    width: 50px;
}

    .switch-box .switch-btn-container .switch-btn {
        float: left;
        padding: 5px 5px;
        cursor: pointer;
        opacity: 0.5;
    }

        .switch-box .switch-btn-container .switch-btn.activated {
            opacity: 1;
        }

        .switch-box .switch-btn-container .switch-btn:hover, .switch-box .drag-handle:hover {
            opacity: 0.8;
        }