.schedule-list {
    border-right: solid #808080 1px;
    padding: 0;
    float: left;
    height: 100%;
}

    .schedule-list li {
        padding: 15px;
        position: relative;
        height: 100px;
        border-bottom: dashed #808080 1px;
        cursor: pointer;
    }

.schedule-list li.add-schedule-item {
    height: 70px;
    padding: 10px;
    text-align: center;
    display: flex;
    cursor: pointer;
}

        .schedule-list li.schedule-item.active {
            background: #BFE7A8;
            color: #ffffff;
        }

        .schedule-list li.schedule-item:hover {
            background: #FCFDFA;
        }

.schedule-list li.schedule-item.active:hover {
    background: #BFE7A8;
}

        .schedule-list li.schedule-item .btn-group {
            position: absolute;
            right: 10px;
            top: 33px;
        }

.schedule-list .btn {
    cursor: pointer;
}

.schedule-name {
    display: block;
    font-size: 120%;
    font-weight:600;
}

.schedule-time, .schedule-day {
    display: block;
    font-size: 80%;
    color: #808080;
}

.schedule-repeat-row {
    clear: both;
}

.schedule-repeat-container {
    clear: both;
    
}



.schedule-repeat-item, .add-new-schedule {
    text-align: center;
    float: left;
    border: 1px solid #8BD360;
    cursor: pointer;
    color: #8BD360;
}

    .schedule-repeat-item.active, .add-new-schedule:hover, .add-new-schedule.active {
        background: #8BD360;
        color: #ffffff;
    }

.schedule-repeat-item {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -ms-border-radius: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-new-schedule {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -ms-border-radius: 25px;
    margin: 0 auto;
}

.add-new-schedule{
    line-height: 50px;
}

.schedule-repeat-text{
    line-height: 80px;
}

#scheduleRepeatHelp {
    clear:both;
}

.schedule-back {
    display: none;
}

.time-input-block {
    float:left;
    width:50%;
}

ngb-timepicker.ng-valid, ngb-timepicker.ng-invalid {
    border-left: none !important;
}



.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .schedule-list.schedule-selected {
        display: none;
    }


    

    .schedule-repeat-item {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        -ms-border-radius: 35px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .schedule-repeat-text {
        line-height: 70px;
    }

}
