<div id="home-bg">
    <!--<img src="/Images/home-bg.jpg" alt="">-->
    
    
    <div class="switch-container container" ng-controller="smarthomeController">
        <div class="col-md-6" ng-repeat="switch in switches">
            <div class="switch-box" ng-class="{'on':switch.status, 'busy':switch.isBusy}" ng-click="clickSwitch(switch)">
                <div class="switch-name">{{switch.name}}</div>
                
                <div class="switch-box-busy-wrapper" ng-show="switch.isBusy">
                    <div class="loader">

                    </div>
                </div>
            </div>
            
            

        </div>
        
        <div class="col-md-6">
            <div class="switch-box" ng-click="addNewSwitch(switch)">
                <div class="switch-name add-new-switch">+</div>
                <div class="new-switch-box-wrapper">
                    
                </div>
                

                <div class="switch-box-busy-wrapper" ng-show="newSwitch.isBusy">
                    <div class="loader">

                    </div>
                </div>
            </div>



        </div>
    </div>

</div>