<div class="loader-container" [hidden]="!isBusy">
    <div class="loader"></div>
</div>
<div class="row site-selector" [hidden]="isBusy">
    <div class="col-md-12 home-select">

        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{getSiteName()}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let site of sites" (click)="selectSite(site)">{{site.name}}</button>
            </div>
        </div>

        <button class="btn btn-secondary" *ngIf="selectedSite && !selectedSite.isDefault" (click)="setDefault()">Set As Default</button>
    </div>
</div>
<div class="row"  [hidden]="isBusy" dnd-sortable-container [sortableData]="switches">
    <div class="col-md-6" *ngFor="let switch of switches; let i = index" dnd-sortable [dragEnabled]="!disableOrder" [sortableIndex]="i" (onDropSuccess)="sort(switch, i)">
        <div class="switch-box" [ngClass]="{'on': switch.status, 'busy': switch.isBusy}" (click)="changeStatus(switch)">
            <div class="drag-handle drag-disabled" placement="right" ngbTooltip="Refresh the page to re-enable sort" *ngIf="disableOrder" dnd-sortable-handle (click) ="$event.stopPropagation()" n>
                <i class="fa fa-ban" aria-hidden="true"></i>
            </div>
            <div class="drag-handle" *ngIf="!disableOrder" dnd-sortable-handle>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div >
            <div class="switch-btn-container">
                <div class="switch-btn" [ngClass]="{'activated': switch.timers && switch.timers.length > 0}" (click)="switchTimer($event, switch)"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div class="switch-btn activated" (click)="switchSetting($event, switch)"><i class="fa fa-cog" aria-hidden="true"></i></div>
            </div>

            <div class="switch-name">{{switch.name}}</div>
            <div class="switch-box-busy-wrapper" [hidden]="!switch.isBusy">
                <div class="loader">
                </div>
            </div>
        </div>
    </div>
</div>