<footer>
    <div class="container">
        <ul>
            <li><a href="#/termsofuse"><i class="fa fa-check-square-o" aria-hidden="true"></i><span class="res-767-hide-inline">&nbsp; Terms of Use</span></a></li>
            <li><a href="#/privacy"><i class="fa fa-lock" aria-hidden="true"></i><span class="res-767-hide-inline">&nbsp; Privacy</span></a></li>
            <li><a href="#/contact"><i class="fa fa-phone" aria-hidden="true"></i><span class="res-767-hide-inline">&nbsp; Contact</span></a></li>
            <li><a href="#/copyright"><i class="fa fa-copyright" aria-hidden="true"></i><span class="res-767-hide-inline">&nbsp; Copyright</span></a></li>
            <li><a href="#/about"><i class="fa fa-info-circle" aria-hidden="true"></i><span class="res-767-hide-inline">&nbsp; About</span></a></li>
        </ul>
        <!-- ngIf: isLoggedIn -->
    </div>
</footer>
