<ul class="nav navbar-nav navbar-right" [ngSwitch]="isAuthenticated()">
    <li class="dropdown" *ngSwitchCase="true">
        <div ngbDropdown class="d-inline-block">
            
            <span id="loginDropDown" ngbDropdownToggle>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="dropdown-btn-text">{{user.email}}</span>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header">{{user.email}}</a>
                <a class="dropdown-item" href="javascript:void(0)"><span title="Logout" class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;My Smart Home</a>
                <a class="dropdown-item" href="javascript:void(0)"><span title="Logout" class="glyphicon glyphicon-saved" aria-hidden="true"></span>&nbsp;Site Manager</a>

                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"><span title="Logout" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;Account Settings</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="logout()"><span title="Logout" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a>

            </div>
        </div>
    </li>
    <li *ngSwitchCase="false"><a href="/Account/Login"><span title="Login" class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
</ul>