<ul class="nav navbar-nav navbar-right" [ngSwitch]="isAuthenticated()">
    <li class="dropdown" *ngSwitchCase="true">
        <div ngbDropdown class="d-inline-block">
            
            <span id="loginDropDown" ngbDropdownToggle>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="dropdown-btn-text">{{user.email}}</span>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header">{{user.email}}</a>
                <a class="dropdown-item" routerLink="/control" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My Smart Home</a>
                <a class="dropdown-item" routerLink="/sitemanager" routerLinkActive="active"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Site Manager</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/account" routerLinkActive="active"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Account Settings</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Logout</a>

            </div>
        </div>
    </li>
    <li *ngSwitchCase="false"><a href="/Account/Login"><span title="Login" class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
</ul>