<div class="navbar-brand">
    <div class="img-container">
        <a href="/" class="logo">
            <img alt="Lynex Smart Home" src="/Images/logo.png">
        </a>
    </div>
    
</div>
<nav class="navbar navbar-toggleable-md navbar-default">
    <button id="nav-toggle-btn" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Smart Home</a>
            <a class="nav-item nav-link" href="#">Map</a>
            <a class="nav-item nav-link" href="#">Products</a>
            <a class="nav-item nav-link" href="#">Sale</a>
            
        </div>
    </div>
    
    
</nav>

<login></login>