<div class="navbar-brand">
    <div class="img-container">
        <a href="/" class="logo">
            <img alt="Lynex Smart Home" src="/Images/logo.png">
        </a>
    </div>
    
</div>
<nav class="navbar navbar-toggleable-md navbar-default">
    <button id="nav-toggle-btn" class="navbar-toggler navbar-toggler-left" 
            type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>

    <div class="navbar-collapse" [ngClass]="{'collapse':isCollapsed}" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
            <a class="nav-item nav-link nav-collapse-btn" href="javascript:void(0)" (click) ="isCollapsed=true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>

            <a class="nav-item nav-link active" href="#">Smart Home</a>
            <a class="nav-item nav-link" href="#">Map</a>
            <a class="nav-item nav-link" href="#">Products</a>
            <a class="nav-item nav-link" href="#">Sale</a>
            
        </div>
    </div>
    
    <div class="nav-bg" [hidden]="isCollapsed" (click)="isCollapsed=true">

    </div>
</nav>

<login></login>