<div class="dialog-container" *ngIf="currentSwitch">
    <div class="dialog-header">
        <a class="dialog-back pull-left" aria-label="Back" (click)="selectedSchedule = null" [ngClass]="{'back-button':selectedSchedule}">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
        </a>
        Schedule
        <a class="dialog-close pull-right" aria-label="Close" (click)="closeDialog()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class="dialog-content">
        <div class="col-md-12 dialog-detail" *ngIf="!schedules || isBusy">
            <div class="loader"></div>
        </div>
        <div class="col-md-4 schedule-list" *ngIf="schedules && !isBusy" [ngClass]="{'schedule-selected': selectedSchedule }">
            <ul>
                <li *ngFor="let schedule of schedules" [ngClass]="{'active':selectedSchedule && schedule.id === selectedSchedule.id}" (click)="selectSchedule(schedule)" class="schedule-item">
                    <div class="schedule-name">{{schedule.name}}</div>
                    <div class="schedule-time">{{getTime(schedule)}}</div>
                    <div class="schedule-day">{{getDayFromSchedule(schedule)}}</div>
                    <div [(ngModel)]="schedule.active" ngbRadioGroup name="schedule-toggle" (click)="updateSwitchActive(schedule, $event);" [ngClass]="{'busy':schedule.isBusy}">
                        <label class="btn btn-sm btn-default">
                            <input type="radio" [value]="true"> On
                        </label>
                        <label class="btn btn-sm btn-default">
                            <input type="radio" [value]="false"> Off
                        </label>
                    </div>
                </li>
                <li  class="add-schedule-item" >
                    <div class="add-new-schedule" [ngClass]="{'active':selectedSchedule && (selectedSchedule.id === null || selectedSchedule.id === undefined)}" (click)="addNew()"><i class="fa fa-plus" aria-hidden="true"></i></div>
                </li>
            </ul>
        </div>
        <div class="col-md-8 dialog-detail" *ngIf="schedules && !isBusy">
            <div *ngIf="selectedSchedule">
                <form [formGroup]="scheduleForm" (ngSubmit)="scheduleForm.valid && save()" novalidate>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="scheduleTitle">SCHEDULE TITLE</label>
                            <input type="text" required formControlName="name" class="form-control" id="scheduleTitle" aria-describedby="scheduleTitleHelp" placeholder="Enter Schedule Title">
                            
                            <small class="form-text text-danger" *ngIf="scheduleForm.get('name').touched && scheduleForm.get('name').hasError('required')">
                                Schedule title is required
                            </small>
                        </div>
                    </div>
                    <div>

                        <div class="time-input-block">
                            <div class="form-group">
                                <label for="scheduleTitle">START TIME</label>
                                <ngb-timepicker required formControlName="sTime"></ngb-timepicker>
                                <small class="form-text text-danger" *ngIf="scheduleForm.get('sTime').touched && scheduleForm.get('sTime').hasError('required')">
                                    Start time is required
                                </small>
                            </div>
                        </div>

                        <div class="time-input-block">
                            <div class="form-group">
                                <label for="scheduleTitle">END TIME</label>
                                <ngb-timepicker required formControlName="eTime"></ngb-timepicker>
                                <small class="form-text text-danger" *ngIf="scheduleForm.get('eTime').touched && scheduleForm.get('eTime').hasError('required')">
                                    End time is required

                                </small>
                                <small class="form-text text-danger" *ngIf="scheduleForm.get('eTime').hasError('greaterThan')">
                                    End time must greater than start time
                                </small>
                            </div>
                        </div>

                    </div>

                        

                    

                    <div class="col-md-12 schedule-repeat-row">
                        <div class="form-group">
                            <label for="scheduleTitle">REPEAT</label>
                            <div class="schedule-repeat-container">
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.monday.value}" (click)="toggleRepeat('monday')"><span class="schedule-repeat-text">MON</span></div>
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.tuesday.value}" (click)="toggleRepeat('tuesday')"><span class="schedule-repeat-text">TUE</span></div>
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.wednesday.value}" (click)="toggleRepeat('wednesday')"><span class="schedule-repeat-text">WED</span></div>
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.thursday.value}" (click)="toggleRepeat('thursday')"><span class="schedule-repeat-text">THU</span></div>
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.friday.value}" (click)="toggleRepeat('friday')"><span class="schedule-repeat-text">FRI</span></div>

                            </div>
                            <div class="schedule-repeat-container">

                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.saturday.value}" (click)="toggleRepeat('saturday')"><span class="schedule-repeat-text">SAT</span></div>
                                <div class="schedule-repeat-item" [ngClass]="{'active':scheduleForm.controls.sunday.value}" (click)="toggleRepeat('sunday')"><span class="schedule-repeat-text">SUN</span></div>
                            </div>
                            <small id="scheduleRepeatHelp" class="form-text text-muted">Your repeat preference: {{getDayFromForm()}}</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default pull-right" [disabled]="!scheduleForm.valid" ><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;SAVE</button>
                        <button type="button" class="btn btn-danger pull-left" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;DELETE</button>
                    </div>
                </form>
            </div>
            <div *ngIf="!selectedSchedule">
                <div>SELECT SCHEDULE TO EDIT</div>
            </div>
            </div>
        </div>

    </div>
    
