@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
}

h1, h2, h3, h4, h5, label {
    text-transform: uppercase;
    font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
    font-weight: 300;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

a:link, a:visited, a {
    color: #555;
    text-decoration: none;
}


.res-767-hide-inline {
    display: inline !important;
}

.res-767-hide {
    display: inherit !important;
}

.res-767-show, .res-767-show-inline {
    display: none !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2F7D00; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Navigation */

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
    /*border-color: #2f7d00;*/ 
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.responsive-header-logo {
        background: #fff;
        display: block;
    position: relative;
    float: left;
}

.responsive-header-logo a.logo {
    width: auto;
    text-indent: 0;
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    height: 43px;
    width: 110px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 7px;
    padding: 0;
    background-color: #5FC325;
}


.responsive-header-logo a.logo img {
    height: 40px;
    width: 110px;
    
}

.navbar-nav {
    width: auto;
    display: inline-block;
    float:none;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 14px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
    text-transform: uppercase;
    color: #555;
    font-weight: lighter;
}

.header-logo {
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: #fff; 
}

.header-logo a.logo {
    text-indent: 0;
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    overflow: hidden;
    width: 199px;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    background-color: #5FC325;
}

.highlight-header {
    color: #a52a2a !important;
    font-weight: 600 !important;
}

.dropdown-toggle span {
    display: inline-block;
}

#navbar {
    text-align: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #ffffff;
    border-bottom: 4px solid #5FC325;
}


footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    z-index: 5;
    height: 41px;
}

footer ul {
    width: auto;
    display: inline-block;
}
/*
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #9de572; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #9de572; }
  .navbar-default .navbar-nav .active > a,
  .navbar-default .navbar-nav .active > a:hover,
  .navbar-default .navbar-nav .active > a:focus {
    color: #FFF;
    background-color: #2f7d00; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover,
  .navbar-default .navbar-nav .open > a:focus {
    color: #9de572;
    background-color: #2f7d00; }
    .navbar-default .navbar-nav .open > a .caret,
    .navbar-default .navbar-nav .open > a:hover .caret,
    .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #9de572;
      border-bottom-color: #9de572; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF; }
    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
      border-top-color: #9de572;
      border-bottom-color: #9de572; }
  .navbar-default .navbar-toggle {
    border-color: #2f7d00; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #2f7d00; }
      .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF; }*/

#home-bg {
  position: fixed;
    top: 171px;
    left: 0;
  width: 100%; 
  height: calc(100% - 171px);
  background: url('/Images/home-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.switch-container {
    background: #fff;
    margin-top: 20px;
    height: calc(100% - 40px);
    padding-top: 20px;
    overflow-y: auto;
}

.switch-box {
    height: 100px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    background: #808080;
    position: relative;
}


.switch-box.on {
    background: #5FC325
}

.switch-box .switch-name {
    width: 100%;
    font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    
}


.switch-box .add-new-switch {
    width: 100%;
    font-family: open sans,"Hiragino Sans GB","Microsoft Yahei","\5b8b\4f53";
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.switch-box-busy-wrapper {
    width: 100%;
    height: 100%;
    background-color:  rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
}

.switch-box .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: 10px;
    opacity: 0.5
}